[General]
Show_Title=true
Show_Labels=true
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
Font_Size=medium
Font_Size_Numerical=2
Lines_Size=3
Update_Interval=60
Exec_Command=true
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=5
Suppress_Hddtemp_Message=false
Preferred_Width=498
Preferred_Height=364

[Chip0]
Name=acpitz-0
Number=0

[Chip0_Feature0]
Id=0
Address=0
Name=temp1
Color=#00B000
Show=true
Min=0,00
Max=80,00

[Chip1]
Name=radeon-8
Number=1

[Chip1_Feature0]
Id=0
Address=0
Name=temp1
Color=#00B000
Show=true
Min=0,00
Max=80,00

[Chip2]
Name=k10temp-c3
Number=2

[Chip2_Feature0]
Id=0
Address=0
Name=temp1
Color=#00B000
Show=true
Min=0,00
Max=63,12

[Chip3]
Name=radeon-100
Number=3

[Chip3_Feature0]
Id=0
Address=0
Name=temp1
Color=#00B000
Show=true
Min=0,00
Max=80,00

[Chip4]
Name=ACPI
Number=4

[Chip4_Feature0]
Id=0
Address=0
Name=Primary
Color=#0000B0
Show=true
Min=0,00
Max=0,00

